<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PhotonCommon.Database.DBSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <PhotonCommon.Database.DBSettings>
      <setting name="DBHost" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="DBPort" serializeAs="String">
        <value>3306</value>
      </setting>
      <setting name="DBUser" serializeAs="String">
        <value>mmoadmin</value>
      </setting>
      <setting name="DBPass" serializeAs="String">
        <value>mmoadmin</value>
      </setting>
      <setting name="DBName" serializeAs="String">
        <value>mmodb</value>
      </setting>
    </PhotonCommon.Database.DBSettings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>